.separator-side {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
}
.separator--dotter {
  border: 0;
  border-bottom: 5px dotted black;

  width: 0;
  animation: separator-width 1.5s ease-out forwards;
}
.graphic-designs {
  height: 700px;
  max-height: 700px;
  background-color: black;
  background-size: cover;
}

.gd1 {
  background-position: top;
  background-image: url("../assets/graphicDesign/AY_Exercise_6-1_Animation.gif");
}
.gd2 {
  background-position: center;
  background-image: url("../assets/graphicDesign/LanternPrint_MoonClouds.png");
}

.small_thumbnail {
  background-color: black;
  width: 10em;
  height: auto;
}

.selected {
  opacity: 0.4;
  filter: alpha(opacity=40); /* msie */
  background-color: #000;
}
