.navbar-opacity {
  background: none;
}
.navbar-hr {
  display: block;
  margin-top: -2px;
  border-style: solid;
  border-color: black;
  border-width: 2px;
}
.custom-navbar-mr {
  flex: 1;
  margin: auto !important;
  display: flex;
  justify-content: space-around;
}
.banner-back {
  z-index: 1;
  margin-bottom: -5em;
}
.banner-shadow {
  text-shadow: 1.75px 1.75px #5e5959;
  font-weight: bolder;
}
.dropdown:hover > .dropdown-menu {
  display: block;
}

.nav-text {
  letter-spacing: 2px;
  font-size: 1.75em;
}
