.resume-resize {
  max-width: 200%;
  width: 115%;
}
hr.style-two {
  border: 0;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75),
    rgba(0, 0, 0, 0)
  );
}

[class^="btn-"] {
  position: relative;
  display: block;
  overflow: hidden;
  @include size(100%, $btn-height);
  max-width: $btn-width;
  margin: 1rem auto;
  text-transform: uppercase;
  border: 1px solid currentColor;
}

.btn-0 {
  $btn-color: random-color(
    $max: 200
  );
  $btn-color-dark: shade($btn-color, 40%);
  color: tint($btn-color);

  &:before {
    content: "";
    @include absolute(0, 0, 0, 0);
    background-color: $btn-color-dark;
    transform: translateX(-100%);
  }

  &:hover {
    color: tint($btn-color, 75%);

    &:before {
      transform: translateX(0);
    }
  }
}

.btn-1 {
  $btn-color: random-color(
    $max: 200
  );
  $btn-color-dark: shade($btn-color, 40%);
  color: tint($btn-color);

  &:before {
    content: "";
    @include absolute(0, -50px, 0, 0);
    border-right: 50px solid transparent;
    border-bottom: $btn-height solid $btn-color-dark;
    transform: translateX(-100%);
  }

  &:hover {
    color: tint($btn-color, 75%);

    &:before {
      transform: translateX(0);
    }
  }
}
